.markup_boundaries {
	border-color: red;
	border-style: solid;
}

.f {
    fill: red;
}
.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0px 120px;
	height: 90px;
	align-items: center;
	
	border-bottom-color: #e6e6e6;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.header-menu {
	display: flex;
	flex-direction: row;
}

.inline-container {
  display: inline-flex;
  gap: 8px;
  background: #eee;
  padding: 5px;
}

.nav-menu {
	display: inline-flex;
	flex-direction: row;
}

.nav-menu a {
	color: black;
	text-decoration: none;
	font-size: 14px;
}

.nav-menu a:nth-child(2) {
  margin: 0px 40px;
}

.container_1 {
    display: flex;
	flex-direction: row;
	justify-content: space-between;
    height: 472.5px;
    padding: 0px 0px 0px 0px;
    margin: 60px 120px 35.5px;
}

.card_1 {
    display: flex;
	flex-direction: column;
	justify-content: start;
    width: 480px;
    height: 342px
    padding: 50px 1px 1px 1px;
}

.container_2 {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
    height: 993px;
    padding: 0px 0px 0px 0px;
    margin: 0px 110px 65px;
}

.card_2 {
    display: flex;
	flex-direction: column;
	justify-content: start;
    width: 427px;
    height: 200px
    padding:25.5px 10px 0px;
    margin: 0px 0px 0px;
}

.container_3 {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
    height: 993px;
    padding: 0px 0px 0px 0px;
    margin: 0px 110px 90px;
}

.card_3 {
    display: flex;
	flex-direction: column;
	justify-content: start;
    width: 320.25px;
    height: 150px
    padding:25.5px 10px 0px;
    margin: 0px 0px 0px;
}

.container_4 {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
    height: 1120px;
    padding: 0px 0px 0px 0px;
    margin: 0px 110px 90px;
}

.card_4 {
    display: flex;
	flex-direction: column;
	justify-content: start;
    width: 640.5px;
    height: 300px
    padding:25.5px 10px 0px;
    margin: 0px 0px 0px;
}

.container_5 {
    display: flex;
	flex-direction: column;
	background: black;
	justify-content: left;
    color: white;
    height: 580px;
    padding: 90px 120px;
    margin: 0px 0px;
}

.card_50 {
    display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: flex-end;
	height: 22px;
	margin-bottom: 62px;
}

.container_6 {
    display: flex;
	flex-direction: row;
	justify-content: left;
    color: white;
    height: 340px;
    padding: 0px 0px;
    margin: 0px 0px;
}

.card_60 {
    display: flex;
	flex-direction: column;
	justify-content: left;
	margin-right: 120px;
}

.card_61 {
    display: flex;
	flex-direction: row;
	justify-content: left;
	margin-right: 120px;
	height: 90px;
}

.hr-line {
    border-top: 1px solid #e6e6e6;
    margin: 0px 110px 90px;
}

.hr-line_1 {
    border-top: 1px solid #e6e6e6;
    margin: 0px 0px 60px;

}

.card_1 img {
    width: 721px
    height: 474px
    margin-bottom: 25px;
}

.card_1 span {
  margin-bottom: 18px;
}

.container_2 .text-head {
  font-size: 20px;
  margin-bottom: 15px;
}

@font-face {
  font-family: 'top';
  src: url('../font\Libre Franklin\LibreFranklin.ttf') format('truetype');
}

@font-face {
  font-family: 'head';
  src: url('../font\Tenor Sans\TenorSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'parag';
  src: url('../font\Source Serif Pro\SourceSerifPro-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'bottom';
    src: url('../font\Libre Franklin\LibreFranklin.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.text-top {
    font-family: 'top', serif;
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
    margin-bottom: 18px
}

.text-head {
    font-family: 'head', serif;
    font-weight: 400;
    font-size: 36px;
    font-style: normal;
    margin-bottom: 27px
}

.text-parag {
    font-family: 'parag', serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    margin-bottom: 28px
}

.text-bottom {
    font-family: 'bottom', serif;
    font-weight: 700;
    font-size: 10px;
    font-style: normal;
}
.text-bottom_2 {
    font-family: 'bottom', serif;
    font-weight: 400;
    font-size: 10px;
    font-style: normal;
    margin: 0px 120px;
}

.text-level_1 {
    font-family: 'top', serif;
    font-weight: 400;
    font-size: 10px;
    font-style: normal;
    color: #666666;
    margin-bottom: 0px;
}

.card_60 .text-level_1 {
    margin-bottom: 20px;
}

.mb-3 .text-level_1 {
    padding: 0px;
    margin: 0px 0px 20px;
}

.text-level_2 {
    font-family: 'top', serif;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    color: #ffffff;
    margin-bottom: 20px;
}

.spacing {
    margin-bottom: 70px;
}

footer .text-bottom_2 {
    margin: 0px;
}

.card_3 text-top {
    font-size: 10px;
}

.text-head_2 {
  font-family: 'head', serif;
  font-weight: 400;
  font-size: 19px;
  font-style: normal;
  margin-bottom: 27px
}
.buttom {
    border-color: black;
    background: none;
    border-radius: 0px;
    font-size: 10px;
    width: 205px;
    height: 54px;
    margin: 90px 0px 0px 0px;
}
.resize {
    width: 135px;
    height: 17px;
    margin-right: 15px;
}
